  <h1>Welcome to <%= Rails.application.class.to_s.split('::').first %></h1>

  <p>This application was built using <%= link_to 'Simple Stack', 'https://github.com/johnreitano/simple-stack' %>.</p>
  <p>Here is <%= link_to "an example of Simple Stack in action", todo_items_path %>.
